@use "styles/breakpoints" as breakpoints;
@use "styles/colors" as colors;
@use "styles/heights" as heights;
@use "styles/layout" as layout;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  background-color: colors.palette(primary, 500);
  align-items: center;
  height: heights.get-layout-heights(header, mobile);

  @include breakpoints.media-breakpoint-only(tablet) {
    height: heights.get-layout-heights(header, tablet);
  }

  @include breakpoints.media-breakpoint-only(desktop) {
    height: heights.get-layout-heights(header, desktop);
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  @include layout.container();

  &__left {
    display: flex;

    .title {
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      text-decoration: none;
      background-color: transparent;
      border: none;
      margin: 0;
      cursor: pointer;
    }
  }
}
