{
  "tabWidth": 2,
  "printWidth": 140,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
