@use "styles/base";
@use "styles/animations" as *;
@use "styles/variables" as *;

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  padding-bottom: 40px;
  text-align: center;
}

.stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  @media (min-width: 760px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1100px) {
    display: flex;
    gap: 20px;
  }
}

.stack-logo {
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  }
  width: 100px;
  height: 100px;

  &.react {
    animation: spin infinite 20s linear;
    background-image: url("#{$img-path}/react-logo.svg");
  }

  &.vite {
    background-image: url("#{$img-path}/vite-logo.svg");
  }

  &.vitest {
    background-image: url("#{$img-path}/vitest-logo.svg");
  }

  &.ts {
    background-image: url("#{$img-path}/ts-logo.svg");
  }

  &.scss {
    background-image: url("#{$img-path}/sass-logo.svg");
  }

  &.msw {
    background-image: url("#{$img-path}/msw-logo.svg");
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: spin infinite 20s linear;
  }
}

.app-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}
