@use "styles/colors" as colors;

.data-card {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 40px;
  background-color: colors.palette(bg, 2);
}

.title {
  margin: 0 0 8px;
}

.fields {
  list-style: none;
  padding: 0;
  margin: 0;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 18px 0;
  line-height: 20px;

  &:not(:last-child) {
    border-bottom: 0.5px solid colors.palette(tertiary, 500);
  }

  &.avatar-field {
    padding: 8px 0;
  }

  &__label {
    font-weight: 700;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
